# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Environment variables & secrets
.env
.env.*
*.download
portfolio-drive.json
*-drive*.json
public/uploads/*
!public/uploads/.gitkeep

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.parcel-cache/
